<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Follows

    <a data-toggle="collapse" href="#stock_follows_new_form">
      Add follow
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @stock.follows.each do |follow| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/follows/<%= follow.id %>">
          <%= follow.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_follow_from_stock/<%= follow.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="stock_follows_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
