<h1>
  Add a new stock
</h1>


<hr>

<!-- Form stock start -->
<form action="/create_stock" method="post">
<!-- Form stock end -->

  <!-- Label and input for ticker start -->
  <div class="form-group">
    <label for="ticker">
      Ticker
    </label>

    <!-- Input for ticker start -->
    <input type="text" id="ticker" name="ticker" class="form-control">
    <!-- Input for ticker end -->
  </div>
  <!-- Label and input for ticker end -->

  <button class="btn btn-block btn-outline-secondary">
    Create stock
  </button>
</form>

<hr>

<a href="/stocks">
  Go back
</a>
